[submodule "linear-algebra"]
	path = linear-algebra
	url = https://github.com/StrawberryDan/linear-algebra.git
[submodule "loguru"]
	path = loguru
	url = https://github.com/emilk/loguru.git
[submodule "gl3w"]
	path = gl3w
	url = https://github.com/skaslev/gl3w.git
