[submodule "linear-algebra"]
	path = lib/linear-algebra
	url = https://github.com/StrawberryDan/linear-algebra.git
[submodule "loguru"]
	path = lib/loguru
	url = https://github.com/emilk/loguru.git
[submodule "gl3w"]
	path = lib/gl3w
	url = https://github.com/skaslev/gl3w.git
[submodule "lib/Catch2"]
	path = lib/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
